body {
  min-height: 900px;
}

header {
  display: flex;
}
.header{
  display: flex;
  width: 100%;
}

main{
  font-family: 'Kreon', serif;  
  position: relative;
}

.home-page {
  //position: relative;
  margin-top: 15%;
  margin-right: 40px;
  margin-left: 40px;
}

@media screen and (min-width: 1020px) {
  .home-page {
    margin-top: 12%;
    left: 25%;
}
}

a {
  color: black;
  text-decoration: none;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

ul {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-end;
  font-family: 'Oleo Script Swash Caps', cursive;
}

@media screen and (min-width: 780px) {
  ul {
    width: 50%;
}
}

li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.half-circle {
  //padding: 60px;
  background-color: #39F9721a;
  width: 100px;
  height: 100px;
  border-bottom-left-radius: 100px;
  //border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.med-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #39F972;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.portfolio {
  position: absolute;
  top: 360px;
  right: 1%;
  z-index: 0;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .portfolio {
    top: 320px;
    right: 20%;
}
}


.small-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFFF47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.bio {
  position: absolute;
  top: 135px;
  left: 10%;
  z-index: 0;
  cursor: pointer;
}

@media screen and (min-width: 420px) {
  .bio {
    //top: 15%;
}
}

@media screen and (min-width: 780px) {
  .bio {
    //top: 225px;
    //left: 15%;
}
}

@media screen and (min-width: 1000px) {
  .bio {
    top: 200px;
    left: 20%;
}
}

.large-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #FF6347;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.contact {
  position: absolute;
  top: 450px;
  left: -5%;
  z-index: 0;
  cursor: pointer;
}

@media screen and (min-width: 780px) {
  .contact {
    left: 0%;
    top: 540px;

}
}

@media screen and (min-width: 1020px) {
  .contact {
    left: 50%;
}
}


.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
    font-family: 'Kreon', serif;  

}

@media screen and (min-width: 780px) {
  .contact-page {
    flex-direction: row;
    justify-content: space-around;
}
}
