body {
  min-height: 900px;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
  display: flex;
}

.header{
  display: flex;
  width: 100%;
}

main{
  font-family: 'Kreon', serif;  
  position: relative;
}

.home-page {
  margin-top: 15%;
  margin-right: 40px;
  margin-left: 40px;
}

@media screen and (min-width: 1020px) {
  .home-page {
    margin-top: 12%;
    text-align: center;
}
}

a {
  color: black;
  text-decoration: none;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

ul {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-end;
  font-family: 'Oleo Script Swash Caps', cursive;
}

@media screen and (min-width: 780px) {
  ul {
    width: 50%;
  }
  .project-desc {
    margin-left: 30px;
    margin-right: 30px;
  }
  .contact {
    left: 0%;
    top: 540px;
  }
  .bio-page{
    margin-left: 80px;
    margin-right: 80px;
  }
  .contact-page {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
  }
  .project-desc {
    margin-left: 30px;
    margin-right: 30px;
  }
  .project-snippet {
    flex-direction: row-reverse;
    padding: 30px;
  }
  .portfolio-page {
    margin-left: 80px;
    margin-right: 80px;
  }
}

li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.half-circle {
  background-color: #39F9721a;
  width: 100px;
  height: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.med-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #39F972;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.portfolio {
  position: absolute;
  top: 360px;
  right: 1%;
  z-index: 0;
}

@media screen and (min-width: 720px) {
  .portfolio {
    top: 320px;
    right: 20%;
  }
}


.small-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFFF47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.bio {
  position: absolute;
  top: 135px;
  left: 10%;
  z-index: 0;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .bio {
    top: 200px;
    left: 20%;
}
}

.large-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #FF6347;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.contact {
  position: absolute;
  top: 450px;
  left: -5%;
  z-index: 0;
}

@media screen and (min-width: 1020px) {
  .contact {
    left: 50%;
}
}

.bio-page{
  margin-left: 20px;
  margin-right: 20px;
}


.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kreon', serif;  
}

.contact-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kreon', serif;  
}

.portfolio-page {
  margin-left: 20px;
  margin-right: 20px;
}

.project-snippet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: #1f2323a6;
    border-radius: 20px;
    box-shadow: black;
    box-shadow: -5px 5px 20px -7px;
}

.project-desc {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.project-desc a {
  color: #ff6347;
}

.web-frame {
  width: 240px;
  height: 500px;
}

@media screen and (min-width: 768px) {
  .web-frame {
    width: 350px;
    height: 500px;
  }
}
