header {
  display: flex;
}
.header{
  display: flex;
  width: 100%;
}

main {
  position: relative;
  margin-top: 15%;
  left: -12%;
}

p {
  margin-left: 20%;
  //margin-right: 20%;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

ul {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-end;
}

@media screen and (min-width: 780px) {
  ul {
    width: 50%;
}
}

li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.half-circle {
  //padding: 60px;
  background-color: grey;
  width: 100px;
  height: 100px;
  border-bottom-left-radius: 100px;
  //border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.med-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.portfolio {
  position: absolute;
  top: 48%;
  right: 1%;
  z-index: -1;
  cursor: pointer;
}

.small-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bio {
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 0;
  cursor: pointer;
}

@media screen and (min-width: 420px) {
  .bio {
    top: 15%;
}
}

.large-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact {
  position: absolute;
  top: 60%;
  left: -5%;
  z-index: -1;
  cursor: pointer;
}

@media screen and (min-width: 780px) {
  .contact {
    left: 0%;
}
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
